* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

html, body {
  background-color: #000;
}

.s-gpu {
  will-change: transform;
}

.l-debug {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  display: none;
}

.l-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.l-text {
  font-family: 'Inter', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #FFF;
  pointer-events: none;
  padding: 10vw;
  font-weight: bold;
}

.l-text > .ttl {
  font-size: 8vw;
  margin-bottom: 2vw;
}

.l-text > .text {
  font-size: 1.75vw;
  width: 80%;
  text-align: justify;
  margin-bottom: 10vw;
  line-height: 1.5;
}




.l-info {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  font-family: 'Inter', sans-serif;
  color: #000;
}
.l-info span {
  display: block;
}
.l-info a {
  font-size: 12px;
  color: inherit;
}

@media screen and (max-width:900px) {
  .l-info {
    margin: 10px;
  }
  .l-info a {
    font-size: 5px;
  }
}